.btn-primary{
    padding: 0px;
}

.header-icon{
    opacity:0.5;
    transition: 0.4s ease-out;
}

.header-icon:hover{
    opacity:1;
    transition: 0.4s ease-out;
}

@keyframes continuous-footer {
    /* 0%  { transform: translateX(0%);} */
    100%{ transform: translateX(100%);}
  }

p {
    animation: continuous-footer 12s linear infinite;
}

.card_compra{
    border-left-width: 15px;
    border-left-color: green;
}
.card_venda{
    border-left-width: 15px;
    border-left-color: red;
}
